.cache/
.config/
.dotnet/
.git/
.local/
.nv/
.vscode-server/
basecode/
lightning_logs/
data/
results/
.netrc
.profile
.viminfo
.wget-hsts
.ipynb_checkpoints/
.jupyter/
*.pyc
.bash_history
config.yaml
.eda/